<p>
    You're viewing poll result for:
</p>

<h1>{{ name }}</h1>
<p>Poll Id: {{ _id }}</p>
<p>
	<img style="max-width: 100px; max-height: 100px;" src="{{ image_url }}" />
</p>


<p>
	Total Votes: {{ vote_count }}
</p>
<p>
	Total Votes (Auto Tally): {{ vote_count_auto }}
</p>
<p>
	Yes Votes: {{ yes_count }}
</p>
<p>
	No Votes: {{ no_count }}
</p>